div.htmlarea { 
	display: inline block;
	Xbackground: none repeat scroll 0 0 #EAEAEA;
	Xpadding: 5px; 
}
div.htmlarea div { padding: 0px; margin: 0px; }
div.htmlarea iframe {
	border-color: #666666 #CCCCCC #CCCCCC;
    border-style: solid;
    border-width: 1px;
}
div.htmlarea .toolbar { overflow: hidden; padding-bottom: 6px; }
div.htmlarea .toolbar ul { 
	Xborder: solid 1px #ccc; 
	margin: 1px; 
	padding: 1px; 
	float: left;
}
div.htmlarea .toolbar ul li { 
	list-style-type: none; 
	float: left; 
	Xborder: none; 
	padding: 1px; 
	margin: 1px;
	
	
	background-image:-moz-linear-gradient(top, #f9f9f9, #e5e5e5);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e5e5e5));
	background-image:-webkit-linear-gradient(#f9f9f9, #e5e5e5);
	background-image:-o-linear-gradient(#f9f9f9, #e5e5e5);
	background-image:linear-gradient(top, #f9f9f9, #e5e5e5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e5e5e5');
	background-color:#e5e5e5;
	
	Xborder:1px solid #bbb;
	border-color: #999999 #999999 #888888;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    Xbox-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    
}
div.htmlarea .toolbar ul li:hover { 
	border: solid 1px #999; 
	
	background-color:#ddd;
	background-image:-moz-linear-gradient(top, #e5e5e5, #dddddd);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#dddddd));
	background-image:-webkit-linear-gradient(#e5e5e5, #dddddd);
	background-image:-o-linear-gradient(#e5e5e5, #dddddd);
	background-image:linear-gradient(top, #e5e5e5, #dddddd);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#dddddd');
	Xpadding: 0; 
}
div.htmlarea .toolbar ul li a { 
	display: block; 
	width: 16px; 
	height: 16px; 
	background: url(../../images/htmlarea/htmlarea.png) no-repeat -16px -500px; 
	border: none; 
	cursor: pointer; 
	padding: 0px; }
div.htmlarea .toolbar ul li a.highlighted { border: solid 1px #aaa; background-color: #bbb; padding: 0; }
div.htmlarea .toolbar ul li.separator {height: 16px; margin: 0 2px 0 3px; border-left: 1px solid #ccc;}
div.htmlarea .toolbar ul li.separator:hover { padding: 1px; background-color: #fff; border-top:none; border-bottom:none; border-right:none;}

div.htmlarea .toolbar ul li a:hover { }
div.htmlarea .toolbar ul li a.bold { background-position: 0 0; }
div.htmlarea .toolbar ul li a.italic { background-position: -16px 0; }
div.htmlarea .toolbar ul li a.underline { background-position: -32px 0; }
div.htmlarea .toolbar ul li a.strikethrough { background-position: -48px 0; }
div.htmlarea .toolbar ul li a.link { background-position: -64px 0; }
div.htmlarea .toolbar ul li a.unlink { background-position: -80px 0; }
div.htmlarea .toolbar ul li a.orderedlist { background-position: -96px 0; }
div.htmlarea .toolbar ul li a.unorderedlist { background-position: -112px 0; }
div.htmlarea .toolbar ul li a.image { background-position: -128px 0; }
div.htmlarea .toolbar ul li a.cut { background-position: -144px 0; }
div.htmlarea .toolbar ul li a.copy { background-position: -160px 0; }
div.htmlarea .toolbar ul li a.paste { background-position: -176px 0; }

div.htmlarea .toolbar ul li a.html { background-position: -192px 0; opacity:0.6; filter:alpha(opacity=60);}
div.htmlarea .toolbar ul li a.html.highlighted { opacity:1.0; filter:alpha(opacity=100);}

div.htmlarea .toolbar ul li a.h1 { background-position: 0 -16px;}
div.htmlarea .toolbar ul li a.h2 { background-position: -16px -16px;}
div.htmlarea .toolbar ul li a.h3 { background-position: -32px -16px;}
div.htmlarea .toolbar ul li a.h4 { background-position: -48px -16px;}
div.htmlarea .toolbar ul li a.h5 { background-position: -64px -16px;}
div.htmlarea .toolbar ul li a.h6 { background-position: -80px -16px;}
div.htmlarea .toolbar ul li a.subscript   { background-position: -96px -16px;}
div.htmlarea .toolbar ul li a.superscript { background-position: -112px -16px;}
div.htmlarea .toolbar ul li a.indent { background-position: -128px -16px;}
div.htmlarea .toolbar ul li a.outdent { background-position: -144px -16px;}
div.htmlarea .toolbar ul li a.horizontalrule { background-position: -160px -16px;}
div.htmlarea .toolbar ul li a.p { background-position: -176px -16px;}


div.htmlarea .toolbar ul li a.justifyleft { background-position: 0 -32px;}
div.htmlarea .toolbar ul li a.justifycenter { background-position: -16px -32px;}
div.htmlarea .toolbar ul li a.justifyright { background-position: -32px -32px;}
div.htmlarea .toolbar ul li a.increasefontsize { background-position: -48px -32px;}
div.htmlarea .toolbar ul li a.decreasefontsize { background-position: -64px -32px;}
div.htmlarea .toolbar ul li a.forecolor { background-position: -80px -32px;}