.dialog { 
	outline: medium none;
    position: absolute;
    z-index: 200;
    padding-top: 10px;
}
.dialog .dialog-content {
	padding: 10px;
	color: #333;
}
.dialog .dialog-actions {
	background-color: #f2f2f2;
	border-top: 1px solid #ccc;
	padding: 6px 10px;
	text-align: right;
}
.dialog .dialog-actions a {
	margin-left: 6px;
}
.dialog .dialog-overlay {
	background:#fff;
	border:1px solid #8c8c8c;
	border:1px solid rgba(0, 0, 0, .45);
	border-bottom:1px solid #666;
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	box-shadow:0 3px 8px rgba(0, 0, 0, .3);
	position:relative
}
.dialog .dialog-arrow {
	background: url(../../images/edge_top_1_white.png) no-repeat scroll 0 0 transparent;
    height: 6px;
    top: 5px;
    right: 10px;
    width: 10px;
    position: absolute;
    display: block;
}
.dialog.dialog-left .dialog-arrow {
	left: 10px !important;
}