<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>opinion-opinion-backoffice</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DataPostmaster</servlet-name>
		<servlet-class>com.opinion.handlers.DataPostmaster</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataPostmaster</servlet-name>
		<url-pattern>/servlet/DataPostmaster/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.opinion.services.Initializer</listener-class>
	</listener>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>WARN</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Cms</servlet-name>
		<servlet-class>com.opinion.handlers.Cms</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cms</servlet-name>
		<url-pattern>/go/cms</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Frontdoor</display-name>
		<servlet-name>Frontdoor</servlet-name>
		<servlet-class>com.opinion.handlers.Frontdoor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Frontdoor</servlet-name>
		<url-pattern>/frontdoor</url-pattern>
	</servlet-mapping>

	<!-- Force SSL for entire site -->
	<!-- security-constraint>
		<web-resource-collection>
			<web-resource-name>Entire Site</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint-->
	
	<servlet>
		<description></description>
		<display-name>Export</display-name>
		<servlet-name>Export</servlet-name>
		<servlet-class>com.opinion.handlers.ExportHandler</servlet-class>
  	</servlet>
  	<servlet-mapping>
		<servlet-name>Export</servlet-name>
		<url-pattern>/servlet/export</url-pattern>
  	</servlet-mapping>

</web-app>