body{font-family:"lucida grande", tahoma, arial, verdana, sans-serif;font-size:11px;color:#555;margin:0;padding:0;line-height:16px;word-wrap:break-word;unicode-bidi:embed;}
a{Xcolor: #3B5998; color:#324E8D;text-decoration:none;}
a:hover{text-decoration:underline;color:#f7931e}
a h3{Xcolor: #3B5998; color:#324E8D;display:inline;}
a:hover h3{text-decoration:underline;color:#f7931e}
em{font-style:italic}
img{border:0px}
h1{font-size:15px !important;color:#333;padding:0px;margin:0px;font-weight:bold;Xtext-shadow:0 1px 0 #FFFFFF;Xmargin-top:0px !important;padding-bottom:24px !important}
h2{font-size:11px;color:#333;padding:0px;margin:0px;font-weight:bold;}
h3{font-size:11px;color:#333;padding:0px;margin:0px;font-weight:bold;}